// Base styles

@use 'variables' as vars;

// CSS Reset
*, *:before, *:after{
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
    padding-top: 4em;
}

ol, ul{
    font-family: vars.$base-font-family;
    font-size: vars.$base-font-size;
    padding-left: calc(vars.$spacing-unit / 2);
}

blockquote {
    background-color: vars.$grey-color-v-light;
    color: vars.$grey-color-dark;
    border-left: 8px solid vars.$brand-color;
    padding-left: calc(vars.$spacing-unit / 2);
    padding-top: calc(vars.$spacing-unit / 2);
    padding-bottom: calc(vars.$spacing-unit / 2);
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    -webkit-appearance: none;
    border-radius: 0;
}


// Code `backticks` styling
 code {
   border: 1px solid;
   border-radius: 3px;
   background-color: vars.$background-color;
   color: vars.$text-color;
   padding: 1px 5px;
   border: 0;
   font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
   line-height: 1.5;
   font-size: medium;
 }
 

//Headings and paragraphs
h1, h2, h3, h4, h5, h6 {
  color: vars.$text-color;
  font-family: vars.$base-font-family;
  margin-bottom: 0.5em;
}

h1 {
    font-size: 2em;

    &::before {
    content: "/ ";
    }
}

h2 {
    font-size: 1.5em;

    &::before {
        content: "// ";
    }
}

p {
    margin-bottom: 0.5em;
    color: vars.$text-color;
    font-family: vars.$base-font-family;
    font-size: vars.$base-font-size;
}

//Wrapper
.wrapper {
    max-width: calc(#{vars.$content-width} - (#{vars.$spacing-unit} * 2));
    max-width: calc(#{vars.$content-width} - (#{vars.$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: vars.$spacing-unit;
    padding-left: vars.$spacing-unit;
    @extend %clearfix !optional;

    @include vars.media-query(vars.$laptop) {
        max-width: -webkit-calc(#{vars.$content-width} - (#{vars.$spacing-unit}));
        max-width:         calc(#{vars.$content-width} - (#{vars.$spacing-unit}));
        padding-right: calc(vars.$spacing-unit / 2);
        padding-left: calc(vars.$spacing-unit / 2);
    }
}
