// Layout styles

@use 'variables' as vars;

.site-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: vars.$head-foot-color;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2em;
  font-weight: 700;
}

.site-logo {
  position: absolute;
  left: 2em;
}

.icon-link {
    color: #000000;

    &:visited {
        color: #000000;
      }
  
    &:hover {
      color: #ff8c00;
    }
}

.site-title {
  color: vars.$head-foot-text-color;
  font-size: vars.$base-font-size;
  font-family: vars.$base-font-family;
}

.site-nav {
  li {
    list-style: none;
    display: inline-block;
  }
}

.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: vars.$head-foot-color;
  color: vars.$head-foot-text-color;
  height: 2em;
  position: relative;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-weight: 700;
  margin-top: 2em;
}

.post-list {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;

    ul {
        list-style-type: disc;
        padding-left: 1.5em;
    }

    li {
        list-style-type: disc;
        padding-left: 1.5em;
    }

    code {
        margin-right: 1em;
        margin-bottom: 1em;
    }

}

.post-header {
}

.post-title {
}

.post-author {
    font-family: vars.$base-font-family;
    font-size: vars.$base-font-size;
    color: vars.$text-color;
}

.post-date {
    font-family: vars.$code-font-family;
    font-size: vars.$code-font-size;
}

.post-content {
    margin-top: 2em;
    margin-bottom: 2em;
}

.post-reading-time {
    font-family: vars.$code-font-family;
    font-size: vars.$code-font-size;
    color: vars.$text-color;
    margin-top: 1em;
    margin-bottom: 1em;
}

.post-tags {
    padding-bottom: 1em;
    border-bottom: 1px dashed black;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed black;
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

.tag-list {
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;

    ul {
        list-style-type: disc;
        padding-left: 1.5em;
    }

    li {
        list-style-type: disc;
        padding-left: 1.5em;
    }

    code {
        margin-right: 1em;
        margin-bottom: 1em;
    }
}
