<!DOCTYPE html>
<html lang="{{ metadata.lang or 'en' }}">
  {% include "head.html" %}
  <body>
    {% include "header.njk" %}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content | safe }}
      </div>
    </main>
    {% include "footer.html" %}
  </body>
</html>
