---
layout: base.njk
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ title }}</h1>
    <p class="post-description">{{ description }}</p>
    <p class="post-author">
      {{ metadata.author.name }}
    </p>
    <div class="post-meta">
      <p>📅&nbsp;{{ date | dateFormat }}&nbsp; |&nbsp; {% include "reading-time.njk" %}</p>
    </div>
    <!--<p class="post-date">📅&nbsp;{{ date | dateFormat }}</p>
    <div class="post-reading-time">
      {% include "reading-time.njk" %}
    </div>-->
      <div class="post-tags">
        {% if tags %}
        <p>🏷️&nbsp;
          {%- for tag in tags | filterTagList -%}
            <a href="/tags/{{ tag | slugify }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
          {%- endfor -%}
        </p>
      </div>
    {% endif %}
  </header>
  <div class="post-content">
    {{ content | safe }}
  </div>
{%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul class="links-nextprev">
  {%- if previousPost %}<li class="links-nextprev-prev">&larr; Previous<br> <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>{% endif %}
	{%- if nextPost %}<li class="links-nextprev-next">Next &rarr;<br><a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
</article>
