<ul>
  {%- for post in collections.post | reverse -%}
    <li class="post-list">
      <code>{{ post.date | dateFormat }}</code>
      <h3>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h3>
      <!-- Insert excerpt -->
    </li>
  {%- endfor -%}
</ul>
