---
layout: layouts/base.njk
---
<article class="post">
  <header class="post-header">
    <h1>{{- title -}}</h1>
    <!-- Insert something about date posted -->
    <!-- Insert written by author and reading time partial -->
  </header>
  <div class="post-content">
    {{- content | safe -}}
  </div>
</article>
